@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Honk:MORF@15&family=Kalnia+Glaze:wdth,wght@103.5,604&display=swap');
body {
  margin: 0;
 font-family: "Audiowide" sans-serif!important;
  font-weight: 400!important;
  font-style: normal;
  text-align: center;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
